.details-wrapper {
    display: grid;
    grid-template-columns: 50fr 50fr;
    height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 100px 100px;
}

.gallery-img .big-img {
    height: 75%;
    max-width: 100%;
    box-shadow: 0 0 5px #ccc;
    object-fit: cover;
}

.thumb {
    width: 100%;
    height: 100px;
    display: flex;
    cursor: pointer;
    margin: 10px 0;
}

.thumb img {
    opacity: 0.9;
    display: inline-block;
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.thumb img.active {
    opacity: 1;
    border: 1px solid #0080A8;
}

.details-content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.colors-product button {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: 0.5px solid #333;
    outline: none;
    border-radius: 3px;
    margin-right: 5px;
    margin-top: 20px;
    transition: all 0.2s ease-in-out;
}

.colors-product button:hover {
    opacity: 0.75;
}

.colors-product .rosa {
    background: pink;
}

.colors-product .vermelho {
    background-color: red;
}

.colors-product .branco {
    background-color: white;
}

.colors-product .azul {
    background-color: blue;
}

.details-content .price-product {
    font-size: 22px;
    padding: 20px 0;
}

.details-content .btn-buy {
    max-width: 400px;
    border-bottom: 2px solid rgba(0, 128, 168, 0.6);
    padding: 20px 0;
    margin-bottom: 20px;
}

.details-content .btn-buy button {
    width: 180px;
    height: 40px;
    border-radius: 6px;
    outline: none;
    background: #0080A8;
    color: #fff;
    cursor: pointer;
    border: none;
    margin-bottom: 20px;
    margin-right: 15px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 0 1px #00556e;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.details-content .btn-buy button:hover {
    transform: translate(0, -10%);
}

.details-content .btn-buy button:active {
    box-shadow: 0 0 0 0 #00556e, inset 2px 2px 2px #00556e;
    transform: translate(2px, 2px);
}

.details-content .size-product {
    margin-bottom: 10px;
}

.details-content .size-product h3 {
    margin-top: 10px;
}

.details-content .size-product button {
    margin: 20px 0;
    margin-right: 6px;
    width: 30px;
    height: 30px;
    background: rgba(0, 0, 0);
    color: #fff;
    font-size: 13px;
    font-weight: 650;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    opacity: 0.9;
    transition: all 0.3s ease-in-out;
}

.details-content .size-product button:hover {
    opacity: 1;
    transform: translate(0, -10%);
}

.details-content .size-product button:focus-within {
    border: solid 3px #0080A8;
    opacity: 1;    
}

.details-content .composition-product p {
    padding: 30px 0;
}

.details-content .info-product {
    max-width: 390px;
    border-top: 4px solid rgba(0, 128, 168, 0.6);
    padding: 30px 0;
}

.details-content .info-product p {
    margin-top: 5px;
}

.suggestion {
    margin: 50px 0;
    display: flex;
    align-items: flex-start;
}

.suggestion h3 {
    border-left: 2px solid rgba(0, 128, 168, 0.6);
    padding-left: 10px;
    margin-left: 40px;
}

.suggestion .carousel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50%;
    padding: 0px;
    margin: -130px;
}

@media screen and (max-width: 768px) {
    .details-content .btn button {
        margin: 6px 0;
    }

    .gallery-img .big-img {
        width: 100%;
        height: 50%;
        object-fit: cover;
    }
}



