.image {
  width: 100%;
  max-width: 750px;
  height: 100%;
  max-height: 400px;
  object-fit: cover;
  cursor: pointer;
}

.right-arrow, 
.left-arrow {
  position: relative;
  font-size: 3rem;
  color: #fff;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  opacity: 0;
}

.left-arrow {
  left: 105px;
}

.right-arrow {
  left: 740px;
}

.slider:hover .left-arrow,
.slider:hover .right-arrow {
  transition: all ease 0.5s;
  opacity: 1;
}