.filter {
    width: 20vw;
    height: 80vh;
    border-right: 1px solid #0080a8;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
 }

.filter h3 {
    margin-bottom: 2rem;
    border-bottom: 1px solid #0080a8;
    color: #ffa500;
}

.filter-option {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 2rem;
}

.basic-multi-select {
    width: 210px;
}