.slider {
    padding: 0 170px;
}

.card-wrapper {
    position: relative;
    width: 100vw;
    height: 100%;
}

.card-wrapper:active, .card-wrapper:hover, .card-wrapper:focus {
    outline: none;
    border: none;
}

.card {
    position: relative;
    width: 170px;
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.card .card-image {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: #000;
    transition: 0.5s;
}

.card .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card:hover img {
    opacity: 0.4;
    transition: 0.5s;
}

.card:hover .card-image {
    transform: translateY(-110px);
    transition: all 0.9s ease;
}

.details {
    position: absolute;
    bottom: 400px;
    left: 0;
    background-color: rgba(0, 128, 168, 0.9);
    border-radius: 10px;
    width: 100%;
    height: 130px;
    z-index: 1;
    padding: 10px;
    transition: all ease 0.7s;
}

.details h5 {
    margin: 20px 0;
    padding: 0;
    text-align: center;
    color: #fff;
}

.details h5 .price {
    font-size: 15px;
    line-height: 2;
    color: #fff;
    font-weight: 300;
    display: block;
}

.card:hover .details {
    bottom: 0;
}

.details button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 20px;
    font-size: 13px;
    border-radius: 6px;
    background: #fff;
    border: none;
    margin: -15px 40px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.details button:hover {
    transform: translate(0, -20%);
    transition: all 0.3s ease-in-out;
    opacity: 0.8;
}

.details button:focus {
    outline: none;
    border: none;
}

.carousel .slick-prev, .carousel .slick-next {
    width: 40px;
    height: 40px;
}

.carousel .slick-prev:before, .carousel .slick-next:before {
    color: #0080a8;
    font-size: 1.8rem;
}

.carousel .slick-next {
    right: 9rem;
}

.carousel .slick-prev {
    left: 7.5rem;
}

@media screen and (max-width: 1210px) {
    .card {
        width: 130px;
        height: 210px;
    }

    .carousel .slick-prev:before, .carousel .slick-next:before {
        font-size: 1.5rem;
    }

    .carousel .slick-prev {
        left: 7.9rem;
    }

    .card:hover .card-image {
        transform: translateY(-90px);
    }

    .details {
        height: 110px;
    }

    .details h5 {
        font-size: 11px;
    }

    .details h5 .price {
        font-size: 12px;
        line-height: 2.3;
    }

    .details button {
        width: 60px;
        height: 18px;
        font-size: 11px;
        margin: -18px 26px;
    }

}

@media screen and (max-width: 990px) {
    .slider {
        padding: 0 100px;
    }

    .card {
        width: 110px;
        height: 170px;
        border-radius: 6px;
    }

    .card:hover .card-image {
        transform: translateY(-75px);
    }

    .details {
        border-radius: 6px;
        height: 98px;
    }

    .details h5 {
        font-size: 9px;
    }

    .details h5 .price {
        font-size: 10.5px;
        line-height: 2.2;
    }

    .details button {
        width: 55px;
        height: 13px;
        font-size: 9px;
        margin: -18px 18px;
        border-radius: 3px;
    }

    .carousel .slick-prev:before, .carousel .slick-next:before {
        font-size: 1.2rem;
    }

    .carousel .slick-next {
        right: 4.7rem;
    }
    
    .carousel .slick-prev {
        left: 4rem;
    }
}


@media screen and (max-width: 770px) {
    .slider {
        padding: 0 30px;
    }

    .card {
        width: 100px;
        height: 160px;
    }

    .details h5 .price {
        font-size: 9px;
        line-height: 2;
    }

    .details button {
        width: 50px;
        height: 11px;
        font-size: 8px;
        margin: -18px 15px;
        border-radius: 3px;
    }

    .carousel .slick-next {
        right: 0.3rem;
    }
    
    .carousel .slick-prev {
        left: -0.4rem;
    }
}


@media screen and (max-width: 580px) {
    .slider {
        padding: 0 70px;
    }

    .card {
        width: 90px;
        height: 140px;
    }

    .card:hover .card-image {
        transform: translateY(-52px);
    }

    .details {
        height: 78px;
    }

    .details h5 {
        font-size: 6.5px;
    }

    .details h5 .price {
        font-size: 7px;
        line-height: 2;
    }

    .details button {
        width: 35px;
        height: 8px;
        font-size: 6px;
        margin: -20px 11px;
        border-radius: 3px;
    }

    .carousel .slick-next {
        right: 4rem;
    }
    
    .carousel .slick-prev {
        left: 3.4rem;
    }
}


@media screen and (max-width: 375px) {
    .slider {
        position: relative;
        padding: 0 40px;
    }

    .card {
        height: 85px;
        border-radius: 3px;
    }

    .details {
        height: 68.5px;
    }

    .carousel .slick-next {
        right: 0.8rem;
    }
    
    .carousel .slick-prev {
        left: 0.6rem;
    }

    .carousel .slick-prev:before, .carousel .slick-next:before {
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 320px) {
    .slider {
        padding: 0 32px;
    }

    .card {
        width: 50px;
        height: 75px;
        border-radius: 3px;
    }

    .card:hover .card-image {
        transform: translateY(-33px);
    }

    .details {
        height: 60px;
    }

    .details h5 {
        font-size: 4px;
    }

    .details h5 .price {
        font-size: 5px;
        line-height: 2;
    }

    .details button {
        width: 20px;
        height: 5px;
        font-size: 3px;
        margin: -21.5px 5px;
        border-radius: 2px;
    }

    .carousel .slick-next {
        right: 0.5rem;
    }
    
    .carousel .slick-prev {
        left: 0.1rem;
    }
}
