#header a:hover {
    color: #ffa500;
}

.header-top {
    background-color: #fff;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-top a {
    color: #000;
}

.navbar {
    display: none;
}

.header-logo {
    font-size: 2rem;
    font-weight: bold;
}

.header-input {
    width: 26rem;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-item {
    display: flex;
    align-items: center;
}

.nav-item-legenda {
    font-size: 1.125rem;
    max-width: 6rem;
    margin: 1rem 0.5rem;
}

.menu-container {
    background-image: linear-gradient(190deg , #7dd9f5, #005772);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 8rem;
}

.menu-item {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 1rem;
    transition: all ease 0.3s;
}

.menu-item-active {
    transform: translate(0, -20%);
}

.sidebar-item {
    display: none;
}

.menu-filter-container {
    background-image: linear-gradient(130deg , #005772, #7dd9f5);
    z-index: 9999;
    width: 68vw;
    left: 15vw;
    height: 19rem;
    position: absolute;
    transition: all ease 0.3s;
    padding: 2.25rem;
    font-size: 1.5rem;
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-columns: 25% 25% 25% 25%;
}

.filter-hide {
    display: none;
}

@media (max-width: 800px) {
    .navbar {
        display: flex;
    }

    .nav-item:first-child {
        display: none;
    }

    .header-input {
        width: 15rem;
    }

    .menu-container {
        background-color: #0080a8;
        width: 300px;
        height: 100%;
        position: fixed;
        top: 0;
        left: -100%;
        transition: 850ms;
        flex-direction: column;
        padding: 0;
    }

    .menu-container.active {
        left: 0;
        transition: 350ms;
    }

    .sidebar-item:first-child {
        display: flex;
        align-items: center;
        color: #fff;
    }

    .menu-item {
        margin-bottom: 1rem;
    }

    .menu-filter-container {
        display: none;
    }
}

@media (max-width: 600px) {
    .carrinho-legenda {
        display: none;
    }
}

@media (max-width: 500px) {
    .header-top {
        flex-direction: column;
    }

    .header-logo {
        margin-bottom: 0.5rem;
    }

    .navbar {
        position: fixed;
        top: 2rem;
        left: 1.5rem;
    }

    .nav-item {
        display: none;
    }

    .sidebar-top {
        display: flex;
        align-items: center;
        margin: 1.5rem;
    }
    
    .sidebar-item {
        display: flex;
        align-items: center;
        color: #fff;
        flex-direction: column;
        text-align: center;
    }
}