#header a:hover {
    color: #ffa500;
}

.header-top {
    background-color: #fff;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-top a {
    color: #000;
}

.navbar {
    display: none;
}

.header-logo {
    font-size: 2rem;
    font-weight: bold;
}

.header-input {
    width: 26rem;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-item {
    display: flex;
    align-items: center;
}

.nav-item-legenda {
    font-size: 1.125rem;
    max-width: 6rem;
    margin: 1rem 0.5rem;
}

.menu-container {
    background-image: linear-gradient(50deg , #7dd9f5, #005772);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 8rem;
    z-index: 9999;
}

.menu-item {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    font-size: 1.3rem;
    color: #fff;
    margin: 0 1rem;
    transition: all ease 0.3s;
}

.menu-item-active {
    transform: translate(0, -20%);
    color: #ffa500;
    border-bottom: 1px solid #fff;
}

.sidebar-item {
    display: none;
}

.menu-filter-container {
    background-color: #7dd9f5;
    z-index: 9999;
    width: 100%;
    height: 20rem;
    position: absolute;
    transition: all ease 0.3s;
    padding: 2.2rem 20rem;
    font-size: 1.5rem;
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-columns: 25% 25% 25% 25%;
}

.filter-hide {
    display: none;
}

.header-image {
    position: absolute;
    right: 0;
    margin-right: 90px;
    margin-top: 10px;
    width: 750px;
    height: 300px;
    cursor: pointer;
}

.header-image:hover {
    transform: scale(1.02) skewY(0.6deg);
    border: 1px solid #d88c00;
}

.header-subtitle {
    position: absolute;
    margin-top: 1rem;
    margin-left: 250px;
    margin-top: 50px;
}

.header-subtitle a {
    font-weight: 800;
    font-size: 23px;
    display: block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
    padding: 0.2rem 0;
    transition: all ease-in-out 0.3s;
}

.header-subtitle a:hover {
    transform: translate(15%, -5%);
}

@media (max-width: 800px) {
    .navbar {
        display: flex;
    }

    .nav-item:first-child {
        display: none;
    }

    .header-input {
        width: 15rem;
    }

    .menu-container {
        background-color: #0080a8;
        width: 300px;
        height: 100%;
        position: fixed;
        top: 0;
        left: -100%;
        transition: 850ms;
        flex-direction: column;
        padding: 0;
    }

    .menu-container.active {
        left: 0;
        transition: 350ms;
    }

    .sidebar-item:first-child {
        display: flex;
        align-items: center;
        color: #fff;
    }

    .menu-item {
        margin-bottom: 1rem;
    }

    .menu-filter-container {
        display: none;
    }
}

@media (max-width: 600px) {
    .carrinho-legenda {
        display: none;
    }
}

@media (max-width: 500px) {
    .header-top {
        flex-direction: column;
    }

    .header-logo {
        margin-bottom: 0.5rem;
    }

    .navbar {
        position: fixed;
        top: 2rem;
        left: 1.5rem;
    }

    .nav-item {
        display: none;
    }

    .sidebar-top {
        display: flex;
        align-items: center;
        margin: 1.5rem;
    }
    
    .sidebar-item {
        display: flex;
        align-items: center;
        color: #fff;
        flex-direction: column;
        text-align: center;
    }
}