.wrapper-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 150px;
    flex-direction: column;
}

.header-title a {
    color: #d88c00;
    font-weight: 800;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-left: 1px solid #005772;
    padding-left: 0.5rem;
    font-size: 25px;

}

.header-subtitle-vest {
    margin-top: 1rem;
}

.header-subtitle-vest a {
    font-size: 23px;
    display: block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    color: #fff;
    padding: 0.2rem 0;
    transition: all ease-in-out 0.3s;
}

.header-subtitle-vest a:hover {
    transform: translate(15%, -5%);
}

.header-img  {
    position: absolute;
    right: 0;
    margin-right: 200px;
    margin-top: 10px;
    width: 500px;
    height: 300px;
    cursor: pointer;
    object-fit: cover;
}

.header-img:hover {
    transform: scale(1.02) skewY(0.6deg);
    border: 1px solid #d88c00;
}