.products-wrapper {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.filter-sort {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    margin: 1rem 15%;
}

.filter-sort select {
    padding: 0.2rem;
    outline: none;
    border: 1px solid #FF8B00;
    border-radius: 4px;
}

.products-wrapper .spinner {
    margin: 150px 550px;
}

.products-wrapper .products {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: 7rem;
}

.products-wrapper .filter {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 35px;
    left: 0;
}

.filter .path-prod-wrapper {
    position: absolute;
    margin-top: -1rem;
    border-bottom: rgba(255, 139, 0, 0.5) 1px solid;
}

.filter .path-prod {
    font-size: 0.8rem;
    font-weight: 600;
    color: #0080A8;
    font-family: Inter, sans-serif;
}

.paginationsBttn {
    width: 80%;
    height: 100px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginationsBttn a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #0080A8;
    color: #0080A8;
    cursor: pointer;
    transition: all ease-in 0.4s;
}

.paginationsBttn a:hover {
    color: white;
    background-color: #0080A8;
    transition: all ease-in-out 0.4s;
}

.paginationActive a {
    color: white;
    background-color: #0080A8;
}