.products-wrapper {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.filter-sort {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0;
}

.filter-sort p {
    margin-left: 10rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.filter-sort select {
    padding: 5px;
    outline: none;
    border: 1px solid #0080A8;
    border-radius: 4px;
}

.products-wrapper .spinner {
    margin: 150px 550px;
}

.products-wrapper .products {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: 7rem;
}

.products-wrapper .filter {
    display: flex;
    position: absolute;
    left: 0;
}

.paginationsBttn {
    width: 80%;
    height: 100px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginationsBttn a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #0080A8;
    color: #0080A8;
    cursor: pointer;
    transition: all ease-in 0.4s;
}

.paginationsBttn a:hover {
    color: white;
    background-color: #0080A8;
    transition: all ease-in-out 0.4s;
}

.paginationActive a {
    color: white;
    background-color: #0080A8;
}